body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* 
.post-title {
  pointer-events: none;
} */

.hiden {
  display: none;
}

.show {
  display: block;
}

.formCont {
  margin: 20px 20px 20px 20px;
}
@font-face {
  font-family: "Sucrose Bold Two";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2")
    format("woff2");
}
@font-face {
  font-family: "IM Fell French Canon Pro";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2")
    format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg)
    no-repeat;
  padding-top: 61.93333333%;
  background-size: cover;
  font-family: "Sucrose Bold Two";
}

header img {
  position: absolute;
  top: 0;
  right: 0;
  width: 47.8%;
}

header h1 {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 12vw;
  line-height: 0.8;
  margin-top: 0;
  text-align: center;
}

header h1 span {
  display: block;
  font-size: 8.75vw;
}

main {
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-family: "IM Fell French Canon Pro";
  font-size: 1.4rem;
  padding: 2rem 25%;
  line-height: 1.6;
}

/* COMMENTS */
.comment-item {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  margin-bottom:10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

@media all and (max-width: 400px) {
  main {
    padding: 2rem;
  }
}
